
// ==========================================================================
//  vars
// ==========================================================================

// $fontSansSerif : '\30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', Meiryo, '\FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF', sans-serif;
$fontSansSerif : sans-serif;
$fontSerif : "Klee", "\6E38\660E\671D\4F53", "Yu Mincho", YuMincho, "\30D2\30E9\30AE\30CE\660E\671D ProN W3", "HiraMinProN-W3", "\30D2\30E9\30AE\30CE\660E\671D Pro W3", "Hiragino Mincho Pro", "\0048\0047\6B63\6977\66F8\4F53\002D\0050\0052\004F", "\FF24\FF26\4E2D\6977\66F8\4F53", "\FF2D\FF33\0020\660E\671D", "MS Mincho", "\30E1\30A4\30EA\30AA", Meiryo, serif;
$fontCode : monospace;
$fontZero : 'zeroWidth';
$fontVertical : 'codegrid-num', sans-serif;


$pageMaxWidth: 1200px;
$breakpoint-base   : 980px - 1;
$breakpoint-middle : 768px - 1;
$breakpoint-small  : 640px - 1;


$z-pageHeader: 20;
$z-flyout: 10;
