/* ==========================================================================
   Section comment block
   ========================================================================== */

/* Sub-section comment block
   ========================================================================== */

/* Basic comment */


@font-face {
  font-family: 'zeroWidth';
  src:url('../font/zero-width.eot');
  src:url('../font/zero-width.eot#iefix') format('embedded-opentype'),
      url('../font/zero-width.woff') format('woff'),
      url('../font/zero-width.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ==========================================================================
   for styleguide
   ========================================================================== */
.DEBUG{
  color: #FFF;
  font-size: 16px;
  font-family: $fontSansSerif;
  padding: 5px;
  margin: 1em 0;
  background: orange;
}

/* modifier: align
   ========================================================================== */
.CG2--alignLeft   {text-align:left !important; }
.CG2--alignRight  {text-align:right !important; }
.CG2--alignCenter {text-align:center !important; }
.CG2--alignTop    {vertical-align:top !important; }
.CG2--alignMiddle {vertical-align:middle !important; }
.CG2--alignBottom {vertical-align:bottom !important; }

/* modifier: display
   ========================================================================== */
:root .CG2--disableLargeScreen{display:none;}

@media screen and ( max-width: $breakpoint-middle ) and ( min-width: $breakpoint-small + 1 )  {
  :root .CG2--disableLargeScreen {display: block;}
  :root .CG2--disableMiddleScreen {display: none !important;}
  :root .CG2--disableSmallScreen  {display: block;}

  :root br.CG2--disableLargeScreen  {display: inline;}
  :root br.CG2--disableMiddleScreen {display: none !important;}
  :root br.CG2--disableSmallScreen  {display: inline;}
}

@include max-screen( $breakpoint-small ) {
  :root .CG2--disableLargeScreen {display: block;}
  :root .CG2--disableMiddleScreen {display: block;}
  :root .CG2--disableSmallScreen  {display: none !important;}

  :root br.CG2--disableLargeScreen  {display: inline;}
  :root br.CG2--disableMiddleScreen {display: inline;}
  :root br.CG2--disableSmallScreen  {display: none !important;}
}

/* ==========================================================================
   general style
   ========================================================================== */
::-webkit-selection {background: rgba( 174, 217, 17, .7 ); color: #fff; }
::-moz-selection    {background: rgba( 174, 217, 17, .7 ); color: #fff; }
::selection         {background: rgba( 174, 217, 17, .7 ); color: #fff; }

html{
  color: #242424;
  font-family: $fontSansSerif;
  font-size: 16px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #191919;
  @include max-screen( $breakpoint-middle ) {
    font-size: 12px;
  }
}

body{
  margin:0;
  background: #fff;
  min-width: 1052px;
  @include max-screen( $breakpoint-middle ) {
    min-width: 0;
  }
}

a{
  color: #10a040;
  transition: color .2s;
}
a:hover,a:active{
  // color: #2f353d;
  transition: color 0s;
}

iframe[name="google_conversion_frame"]{
  position: absolute;
  top: 0;
  left: -100px;
  width: 1px;
  height: 1px;
}
