/* ==========================================================================
   Section comment block
   ========================================================================== */

/* Sub-section comment block
   ========================================================================== */

/* Basic comment */



/* jump
   ========================================================================== */

@keyframes anim-jump {
  0% {
    transform: translateY( 0 ) scaleY( 1 );
  }
  20% {
    transform: translateY( 2px ) scaleY( 0.6 );
  }
  60% {
    transform: translateY( -5px ) scaleY( 1.1 );
  }
  100% {
    transform: translateY( 0 ) scaleY( 1 );
  }
}


@mixin anim-jump () {
  animation-duration: .4s;
  animation-name: anim-jump;
  animation-fill-mode: forwards;
}


/* spin
   ========================================================================== */

@keyframes anim-spin-in {
  0% {
    transform: none;
  }
  100% {
    transform: rotateY( 360deg ) scale( 1.1 );
  }
}

@keyframes anim-spin-out {
  0% {
    transform: scale( 1.1 );
  }
  100% {
    transform: none;
  }
}

@mixin anim-spin-in () {
  animation-duration: .4s;
  animation-name: anim-spin-in;
  animation-fill-mode: forwards;
}

@mixin anim-spin-out () {
  animation-duration: .8s;
  animation-name: anim-spin-out;
  animation-fill-mode: forwards;
}
