/* ==========================================================================
   button
   ========================================================================== */
/*
---
name: button
category:
  - Nav-items
tag:
  - button
---
work with both a and button tags
```html
<p>
  <a class="CG2-button" href="#">button:a element</a>
</p>
<p>
  <button class="CG2-button" href="#">button: button element</button>
</p>
```
with an icon
```html
<p>
  <a class="CG2-button" href="#"><span class="CG2-icon-pxg"></span>button</a>
</p>
```
use for Primary, Action, Setting
```html
<p>
  <a class="CG2-button CG2-button--primary" href="#">button</a>
</p>
<p>
  <a class="CG2-button CG2-button--action" href="#">button</a>
</p>
<p>
  <a class="CG2-button CG2-button--setting" href="#">button</a>
</p>
```
sizes
```html
<p>
  <a class="CG2-button CG2-button--thin" href="#">button</a>
</p>
<p>
  <a class="CG2-button CG2-button--large" href="#">button</a>
</p>
<p>
  <a class="CG2-button CG2-button--fullWidth" href="#">button</a>
</p>
```

disabled
`button`の時は`disabled`属性を明示、
それ以外(`a`など)の場合は、`aria-disabled="true"`を明示
```html
<p>
  <a class="CG2-button" aria-disabled="true" href="#">button</a>
</p>
<p>
  <a class="CG2-button CG2-button--primary" aria-disabled="true" href="#">primary button</a>
</p>
<p>
  <a class="CG2-button CG2-button--action" aria-disabled="true" href="#">action button</a>
</p>
<p>
  <a class="CG2-button CG2-button--setting" aria-disabled="true" href="#">setting button</a>
</p>
```

progress
```html
<p>
  <a class="CG2-button CG2-button--progress" href="#">button</a>
</p>
```
*/
.CG2-button {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: 1px solid #777;
  padding: 0.6em 1.8em;
  border-radius: 2px;
  background: #777;
  box-shadow: 0 0 0 rgba( 0, 0, 0, 0.1 );
  transition: all .2s;
  &:hover:not( [disabled] ):not( [aria-disabled="true"] ):not( .CG2-button--progress ),
  &:focus:not( [disabled] ):not( [aria-disabled="true"] ):not( .CG2-button--progress ) {
    box-shadow: 0 0 3px #777;
    background: lighten( #777, 10% );
    transition: all .2s;
  }
  @include max-screen( $breakpoint-middle ) {
    font-size: 12px;
  }
  &.CG2-button--thin {
    padding: 0.4em 1.8em;
  }
  &.CG2-button--large {
    font-size: 20px;
    text-align: center;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    @include max-screen( $breakpoint-middle ) {
      font-size: 18px;
      padding-top: .3em;
      padding-bottom: .3em;
      width: auto;
    }
  }
  &.CG2-button--fullWidth {
    display: block;
    width: 100%;
  }
  span[class^="CG2-icon"] {
    font-size: 20px;
    margin-right: 5px;
    &:first-child {
      margin-left: -.6em;
    }
  }
  // &.CG2-button--secondary {
  //   background: #10a040;
  // }
  &.CG2-button--primary {
    border-color: #10a040;
    background: #10a040;
    &:hover:not( [disabled] ):not( [aria-disabled="true"] ),
    &:focus:not( [disabled] ):not( [aria-disabled="true"] ) {
      box-shadow: 0 0 3px #10a040;
      background: lighten( #10a040, 10% );
    }
  }
  &.CG2-button--action {
    border-color: #282828;
    background: #282828;
    &:hover:not( [disabled] ):not( [aria-disabled="true"] ),
    &:focus:not( [disabled] ):not( [aria-disabled="true"] ) {
      box-shadow: 0 0 3px #282828;
      background: lighten( #282828, 10% );
    }
  }
  &.CG2-button--setting {
    border-color: #777;
    background: #777;
    &:hover:not( [disabled] ):not( [aria-disabled="true"] ),
    &:focus:not( [disabled] ):not( [aria-disabled="true"] ) {
      box-shadow: 0 0 3px #777;
      background: lighten( #777, 10% );
    }
  }
  &[disabled],
  &[aria-disabled="true"] {
    cursor: not-allowed;
    border-color: #999;
    background: #dbdbdb;
  }
  &.CG2-button--progress {
    color: transparent;
    cursor: not-allowed;
    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      max-width: 100px;
      margin: auto;
      display: block;
      width: auto;
      background: url( '../img/CG2-button/loading.svg' ) no-repeat 50% 50%;
      background-size: 100% 100%;
      transform-origin: 50% 50%;
      animation: button--loading 1s linear infinite;
    }
  }
}

@keyframes button--loading {
    0% { transform: rotate(   0deg ); }
  100% { transform :rotate( 360deg ); }
}


/* ==========================================================================
   buttonContainer
   ========================================================================== */
/*
---
name: buttonContainer
category:
  - Nav-items
tag:
  - button
---

```html
<div class="CG2-buttonContainer">
  <ul>
    <li><a class="CG2-button CG2-button--primary" href="#">button 1</a></li>
    <li><a class="CG2-button" href="#">button 2</a></li>
  </ul>
</div>
```
左寄せ
```html
<div class="CG2-buttonContainer CG2-buttonContainer--pullLeft">
  <ul>
    <li><a class="CG2-button CG2-button--primary" href="#">button 1</a></li>
    <li><a class="CG2-button" href="#">button 2</a></li>
  </ul>
</div>
```
ラージスクリーン時full width
```html
<div class="CG2-buttonContainer">
  <ul>
    <li class="CG2-buttonContainer__item--full"><a class="CG2-button CG2-button--primary" href="#">button 1</a></li>
    <li><a class="CG2-button" href="#">button 2</a></li>
  </ul>
</div>
```
*/
.CG2-buttonContainer {
  margin: 20px 0;
  ul {
    font-size: 0;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  &.CG2-buttonContainer--pullLeft ul {
    text-align: left;
  }
  li {
    font-size: 1rem;
    display: inline-block;
    margin: 0 8px;
    &.CG2-buttonContainer__item--full {
      display: block;
      margin: 0 0 8px;
    }
    @include max-screen( $breakpoint-middle ) {
      display: block;
    }
  }
  &.CG2-buttonContainer--pullLeft li {
    margin: 0 16px 0 0;
  }
  @include max-screen( $breakpoint-middle ) {
    li,
    &.CG2-buttonContainer--pullLeft li {
      margin: 0 0 5px;
    }
  }
  .CG2-button {
    @include max-screen( $breakpoint-middle ) {
      font-size: 16px;
      text-align: center;
      padding: .4em 10px;
      width: 100%;
    }
  }
}


/* ==========================================================================
   header1
   ========================================================================== */
/*
---
name: header1
category:
  - Content
tag:
  - content
---

見出しレベルは文章の構成に応じて変更する。

```html
<div class="CG2-header1">
  <h1 class="CG2-header1__heading">Heading text 1</h1>
</div>
```
*/
.CG2-header1 {
  padding: 0 28px 30px;
  border-bottom: 1px solid #282828;
  margin: 60px -28px 30px;
  &:first-child {
    margin-top: 0;
  }
  @include max-screen( $breakpoint-middle ) {
    padding: 0 10px 10px;
    margin: 20px -10px 30px;
    &:first-child {
      margin-top: 20px;
    }
  }
}
.CG2-header1__heading {
  color: #282828;
  font-size: 32px;
  font-family: $fontSerif;
  font-feature-settings: "palt";
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  @include max-screen( $breakpoint-middle ) {
    font-size: 20px;
  }
}


/* ==========================================================================
   header2
   ========================================================================== */
/*
---
name: header2
category:
  - Content
tag:
  - content
---

見出しレベルは文章の構成に応じて変更する。

```html
<div class="CG2-header2">
  <h3 class="CG2-header2__heading">Heading text 2</h3>
</div>
```
*/
.CG2-header2 {
  margin: 60px 0 15px;
  @include max-screen( $breakpoint-middle ) {
    margin: 30px 0 10px;
  }
}
.CG2-header2__heading {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  @include max-screen( $breakpoint-middle ) {
    font-size: 16px;
  }
}


/* ==========================================================================
   header3
   ========================================================================== */
/*
---
name: header3
category:
  - Content
tag:
  - content
---

見出しレベルは文章の構成に応じて変更する。

```html
<div class="CG2-header3">
  <h3 class="CG2-header3__heading">Heading text 3</h3>
</div>
```
*/
.CG2-header3 {}

.CG2-header3__heading {
  font-size: 16px;
  font-weight: bold;
  margin: 40px 0 15px;
}


/* ==========================================================================
   leadText
   ========================================================================== */
/*
---
name: leadtext
category:
  - Content
tag:
  - content
---

見出しと判断されるものには見出しレベルを付与する。

```html
<div class="CG2-leadText">LeadText</div>
```
*/
.CG2-leadText {
  font-size: 32px;
  font-family: $fontSerif;
  font-feature-settings: "palt";
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
  margin: 80px 0 40px;
  .CG2-header1 + & {
    margin-top: 50px;
  }
  .CG2-container__inner > &:first-child {
    margin-top: 20px;
  }
  .CG2-container__inner > &:last-child {
    margin-bottom: 20px;
  }
  @include max-screen( $breakpoint-middle ) {
    font-size: 20px;
    margin: 50px -10px 20px;
  }
}


/* ==========================================================================
   shortCentered
   ========================================================================== */
/*
---
name: shortCentered
category:
  - Content
tag:
  - content
---

```html
<div class="CG2-shortCentered">
  <div class="CG2-shortCentered__inner">
    短い時はセンタリング
  </div>
</div>

<div class="CG2-shortCentered">
  <div class="CG2-shortCentered__inner">
    長いテキストは左寄せ長いテキストは左寄せ長いテキストは左寄せ長いテキストは左寄せ長いテキストは左寄せ長いテキストは左寄せ
  </div>
</div>
```
*/
.CG2-shortCentered {
  text-align: center;
  margin: 20px 0;
}

.CG2-shortCentered__inner {
  text-align: left;
  display: inline-block;
}


/* ==========================================================================
   CG2-customers
   ========================================================================== */
/*
---
name: customers
category:
  - Blocks/shared
tag:
  - app-item
  - www-item
---

## 通常（見出し、テキスト、ロゴ、ボタン）

customersについているstyle属性は外すこと。

```html
<section class="CG2-customers" style="background-color: #eee">
  <h2 class="CG2-customers__heading">団体購読も承っております</h2>
  <p class="CG2-customers__text">CodeGridは、すでにいくつもの会社で団体購読いただき、好評を得ています。</p>
  <div class="CG2-customers__logos">
    <ul>
      <li><img src="http://img.pxgrid.net/58x35" width="58" height="35"></li>
      <li><img src="http://img.pxgrid.net/211x25" width="211" height="25"></li>
      <li><img src="http://img.pxgrid.net/195x40" width="195" height="40"></li>
      <li><img src="http://img.pxgrid.net/78x30" width="78" height="30"></li>
      <li><img src="http://img.pxgrid.net/210x35" width="210" height="35"></li>
      <li><img src="http://img.pxgrid.net/101x30" width="101" height="30"></li>
      <li><img src="http://img.pxgrid.net/123x35" width="123" height="35"></li>
      <li><img src="http://img.pxgrid.net/132x35" width="132" height="35"></li>
      <li><img src="http://img.pxgrid.net/102x40" width="102" height="40"></li>
      <li><img src="http://img.pxgrid.net/133x40" width="133" height="40"></li>
    </ul>
  </div>
  <div class="CG2-customers__button">
    <a class="CG2-button CG2-button--primary" href="">団体購読について</a>
  </div>
</section>
```

## コンパクト（テキスト・ロゴのみ）

customersについているstyle属性は外すこと。

```html
<section class="CG2-customers" style="background-color: #eee">
  <p class="CG2-customers__text">CodeGridは、すでにいくつもの会社で団体購読いただき、好評を得ています。</p>
  <div class="CG2-customers__logos">
    <ul>
      <li><img src="http://img.pxgrid.net/58x35" width="58" height="35"></li>
      <li><img src="http://img.pxgrid.net/211x25" width="211" height="25"></li>
      <li><img src="http://img.pxgrid.net/195x40" width="195" height="40"></li>
      <li><img src="http://img.pxgrid.net/78x30" width="78" height="30"></li>
      <li><img src="http://img.pxgrid.net/210x35" width="210" height="35"></li>
      <li><img src="http://img.pxgrid.net/101x30" width="101" height="30"></li>
      <li><img src="http://img.pxgrid.net/123x35" width="123" height="35"></li>
      <li><img src="http://img.pxgrid.net/132x35" width="132" height="35"></li>
      <li><img src="http://img.pxgrid.net/102x40" width="102" height="40"></li>
      <li><img src="http://img.pxgrid.net/133x40" width="133" height="40"></li>
    </ul>
  </div>
</section>
```
*/
.CG2-customers {
  p {
    text-align: center;

    @include max-screen( $breakpoint-middle ) {
      font-size: 12px;
      text-align: left;
    }
  }

  & > *:first-child {
    margin-top: 0;
  }
}

.CG2-customers__heading {
  color: #282828;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px;

  @include max-screen( $breakpoint-middle ) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.CG2-customers__logos {
  text-align: center;
  padding: 10px 30px;
  background: #fff;

  @include max-screen( $breakpoint-middle ) {
    padding: 10px;
  }

  ul {
    font-size: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 20px;

    @include max-screen( $breakpoint-middle ) {
      margin: 5px;
    }
  }

  img {
    vertical-align: bottom;

    @include max-screen( $breakpoint-middle ) {
      zoom: 0.45;
    }
  }
}


/* ==========================================================================
   CG2-paymentTable
   ========================================================================== */
/*
---
name: paymentTable
category:
  - Blocks/shared
tag:
  - app-item
  - app-form
  - www-item
---

```html
<div class="CG2-paymentTable">
  <table>
    <thead>
      <tr>
        <th></th>
        <th><img src="/build/assets2/img/logos/paypal.svg" alt="PayPal" width="100" height="25"></th>
        <th><img src="/build/assets2/img/logos/webmoney.png" alt="WebMoney" width="156" height="30"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>購読料<br><span class="CG2-paymentTable__annotation">（税込金額）</span></th>
        <td>
          <div class="CG2-paymentTable__priceList">
            <ul>
              <li>
                <div class="CG2-paymentTable__priceLabel">月額</div>
                <div class="CG2-paymentTable__priceValue">800</div>
                <div class="CG2-paymentTable__priceUnit">円</div>
                <div class="CG2-paymentTable__priceAnnotation">（税込864円）</div>
              </li>
            </ul>
          </div>
        </td>
        <td>
          <div class="CG2-paymentTable__priceList">
            <ul>
              <li>
                <div class="CG2-paymentTable__priceLabel">月払い</div>
                <div class="CG2-paymentTable__priceValue">800</div>
                <div class="CG2-paymentTable__priceUnit">円</div>
                <div class="CG2-paymentTable__priceAnnotation">（税込864円）</div>
              </li>
              <li>
                <div class="CG2-paymentTable__priceLabel">年払い</div>
                <div class="CG2-paymentTable__priceValue">9,600</div>
                <div class="CG2-paymentTable__priceUnit">円</div>
                <div class="CG2-paymentTable__priceAnnotation">（税込10,368円）</div>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <th>購読料</th>
        <td>自動継続</td>
        <td>随時購入</td>
      </tr>
      <tr>
        <th>無料購読期間</th>
        <td>
          <div class="CG2-paymentTable__valueList">
            <ul>
              <li>
                <span class="CG2-paymentTable__valueText CG2--disableLargeScreen">無料購読期間</span>
                <span class="CG2-paymentTable__value">30</span>
                <span class="CG2-paymentTable__valueUnit">日</span>
              </li>
            </ul>
          </div>
        </td>
        <td>
          <div class="CG2-paymentTable__valueList">
            <ul>
              <li>
                <span class="CG2-paymentTable__valueText CG2--disableLargeScreen">無料購読期間</span>
                <span class="CG2-paymentTable__valueText">なし</span>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
```
*/
.CG2-paymentTable {
  table {
    margin: 40px auto;

    @include max-screen( $breakpoint-small ) {
      table-layout: fixed;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  th,
  td {
    font-weight: normal;
    vertical-align: middle;
    padding: 15px 40px;
    border: 1px solid #dbdbdb;
    @include max-screen( $breakpoint-small ) {
      vertical-align: top;
      width: 50%;
      padding: 20px 10px;
    }
  }

  thead th,
  thead td {
    border: none;
  }

  tbody th {}
  tbody td {}

  th:first-child,
  td:first-child {
    @include max-screen( $breakpoint-small ) {
      display: none;
    }
  }
}

.CG2-paymentTable__annotation {
  font-size: 12px;
}

.CG2-paymentTable__priceList {
  text-align: left;
  display: inline-block;

  ul {
    border-collapse: separate;
    border-spacing: 30px 0;
    display: table;
    line-height: normal;
    padding: 0;
    margin: 0 -30px;

    @include max-screen( $breakpoint-small ) {
      display: block;
      margin: 0;
    }
  }

  li {
    display: table-cell;
    margin: 0;

    @include max-screen( $breakpoint-small ) {
      display: block;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.CG2-paymentTable__priceLabel {
  font-size: 12px;
}

.CG2-paymentTable__priceValue {
  font-size: 32px;
  font-family: $fontCode;
  line-height: 1;
  vertical-align: bottom;
  display: inline-block;

  @include max-screen( $breakpoint-small ) {
    font-size: 28px;
  }
}

.CG2-paymentTable__priceUnit {
  font-size: 16px;
  vertical-align: bottom;
  display: inline-block;
}

.CG2-paymentTable__priceAnnotation {
  font-size: 12px;
}

.CG2-paymentTable__valueList {
  text-align: left;
  display: inline-block;

  ul {
    border-collapse: separate;
    border-spacing: 30px 0;
    display: table;
    line-height: normal;
    padding: 0;
    margin: 0 -30px;

    @include max-screen( $breakpoint-small ) {
      display: block;
      margin: 0;
    }
  }

  li {
    display: table-cell;
    margin: 0;
    
    @include max-screen( $breakpoint-small ) {
      display: block;
    }
  }
}

.CG2-paymentTable__valueText {
  display: inline-block;

  @include max-screen( $breakpoint-small ) {
  }
}

.CG2-paymentTable__value {
  font-size: 32px;
  font-family: $fontCode;
  line-height: 1;
  vertical-align: bottom;
  display: inline-block;

  @include max-screen( $breakpoint-small ) {
    font-family: $fontSansSerif;
    font-size: 100%;
    line-height: inherit;
  }
}

.CG2-paymentTable__valueUnit {
  font-size: 16px;
  vertical-align: bottom;
  display: inline-block;

  @include max-screen( $breakpoint-small ) {
    font-size: 100%;
  }
}


/* ==========================================================================
   CG2-paymentLine
   ========================================================================== */
/*
---
name: paymentLine
category:
  - Blocks/shared
tag:
  - app-item
  - www-item
---

```html
<div class="CG2-paymentLine">
  <span class="CG2-paymentLine__label">月額</span>
  <span class="CG2-paymentLine__value">800</span>
  <span class="CG2-paymentLine__unit">円</span>
  <span class="CG2-paymentLine__extra">（税込み864円）</span>
</div>
```
*/
.CG2-paymentLine {
  text-align: center;
}

.CG2-paymentLine__label {
  font-family: $fontSerif;
  font-feature-settings: "palt";
  font-size: 24px;
}

.CG2-paymentLine__value {
  font-family: $fontCode;
  font-size: 32px;
}

.CG2-paymentLine__unit {
  font-family: $fontSerif;
  font-feature-settings: "palt";
  font-size: 24px;
}

.CG2-paymentLine__extra {
  font-size: 14px;
}


/* ==========================================================================
   CG2-seriesList
   ========================================================================== */
/*
---
name: seriesList
category:
  - Blocks/shared
tag:
  - app-item
  - app-item-articlelist
  - www-item
---

## 通常

* 未購読・非ログイン状態の場合、公開されてない記事には`CG2-seriesList__articleOrder`の前に`CG2-seriesList__articleIcon`が追加
* 未読の場合、`CG2-seriesList__article`に`CG2-seriesList__article--unread`が追加
* お気に入りに追加した場合、`js-toggle-fav-series`に`CG2-seriesList__itemUtilButton--favAdded`が追加
* 著者が3人までの場合、`CG2-seriesList__authors`に著者分の`CG2-seriesList__author`が入る（`<a>`でくるまれる）
* 著者が4人以上の場合、`CG2-seriesList__authors`の中身が`CG2-seriesList__authorPicList`に置き換わる
* appのトップでは、リストの最後には`CG2-seriesList__itemMore`がくる

```html
<div class="CG2-seriesList">
  <div class="CG2-seriesList__inner">

    <!-- 未購読状態、ログイン前 -->

    <div class="CG2-seriesList__item">
      <div class="CG2-seriesList__itemHeader">
        <div class="CG2-seriesList__itemCategory">
          <a href=""><span class="CG2-icon-cat-talk"></span></a>
        </div>
        <div class="CG2-seriesList__itemTitle">
          <div class="CG2-seriesList__itemTitleInner">
            <a href="">
              <span class="CG2-seriesList__itemTitleText">Webの文字の読みやすさ</span>
            </a>
          </div>
        </div>
        <div class="CG2-seriesList__itemUtil">
          <ul>
            <li><a href=""><span class="CG2-icon-list"></span></a></li>
          </ul>
        </div>
      </div>
      <div style="background-image: url('//cdn.codegrid.net/2014-readable-text-design/main-blur.jpg')" class="CG2-seriesList__coverImage"></div>
      <div class="CG2-seriesList__articles">
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleIcon">
              <div class="CG2-icon-lock"></div>
            </div>
            <div class="CG2-seriesList__articleOrder">第3回</div>
            <div class="CG2-seriesList__articleTitle">読みやすさのために</div>
            <div class="CG2-seriesList__articleDate">2014年07月17日</div>
          </a>
        </div>
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleIcon">
              <div class="CG2-icon-lock"></div>
            </div>
            <div class="CG2-seriesList__articleOrder">第2回</div>
            <div class="CG2-seriesList__articleTitle">日本語の「読みやすさ」</div>
            <div class="CG2-seriesList__articleDate">2014年07月10日</div>
          </a>
        </div>
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第1回</div>
            <div class="CG2-seriesList__articleTitle">あらためて、Webって？</div>
            <div class="CG2-seriesList__articleDate">2014年07月03日</div>
          </a>
        </div>
      </div>
      <div class="CG2-seriesList__authors">
        <a href="">
          <div class="CG2-seriesList__author">
            <div class="CG2-seriesList__authorPic">
              <img src="http://img.pxgrid.net/80x80" alt="" width="40" height="40">
            </div>
            <div class="CG2-seriesList__authorName">中村 享介 | フロントエンド・エンジニア</div>
          </div>
        </a>
        <a href="">
          <div class="CG2-seriesList__author">
            <div class="CG2-seriesList__authorPic">
              <img src="http://img.pxgrid.net/80x80" alt="" width="40" height="40">
            </div>
            <div class="CG2-seriesList__authorName">小原 司 | UIデザイナー</div>
          </div>
        </a>
        <a href="">
          <div class="CG2-seriesList__author">
            <div class="CG2-seriesList__authorPic">
              <img src="http://img.pxgrid.net/80x80" alt="" width="40" height="40">
            </div>
            <div class="CG2-seriesList__authorName">丸山 陽子 | エディター</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 購読済、ログイン後、お気に入り、未読あり -->

    <div class="CG2-seriesList__item">
      <div class="CG2-seriesList__itemHeader">
        <div class="CG2-seriesList__itemCategory">
          <a href=""><span class="CG2-icon-cat-mastering"></span></a>
        </div>
        <div class="CG2-seriesList__itemTitle">
          <div class="CG2-seriesList__itemTitleInner">
            <a href="">
              <span class="CG2-seriesList__itemTitleText">z-index再入門</span>
            </a>
          </div>
        </div>
        <div class="CG2-seriesList__itemUtil">
          <ul>
            <li><a href=""><span class="CG2-icon-list"></span></a></li>
            <li>
              <button type="button" aria-pressed="true" class="js-toggle-fav-series CG2-seriesList__itemUtilButton--favAdded">
                <span aria-label="このシリーズのお気に入り解除" class="CG2-icon-star"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div style="background-image: url('//cdn.codegrid.net/2014-mastering-css/main-blur.jpg')" class="CG2-seriesList__coverImage"></div>
      <div class="CG2-seriesList__articles">
        <div class="CG2-seriesList__article CG2-seriesList__article--unread">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第3回</div>
            <div class="CG2-seriesList__articleTitle">z-indexの困った使用例</div>
            <div class="CG2-seriesList__articleDate">2014年05月29日</div>
          </a>
        </div>
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第2回</div>
            <div class="CG2-seriesList__articleTitle">意図した順序に要素を重ねる</div>
            <div class="CG2-seriesList__articleDate">2014年05月22日</div>
          </a>
        </div>
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第1回</div>
            <div class="CG2-seriesList__articleTitle">z-indexの仕組み</div>
            <div class="CG2-seriesList__articleDate">2014年05月15日</div>
          </a>
        </div>
      </div>
      <div class="CG2-seriesList__authors">
        <a href="">
          <div class="CG2-seriesList__author">
            <div class="CG2-seriesList__authorPic">
              <img src="http://img.pxgrid.net/80x80" alt="" width="40" height="40">
            </div>
            <div class="CG2-seriesList__authorName">坂巻 翔大郎 | フロントエンド・エンジニア</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 著者4人、お気に入り -->

    <div class="CG2-seriesList__item">
      <div class="CG2-seriesList__itemHeader">
        <div class="CG2-seriesList__itemCategory">
          <a href=""><span class="CG2-icon-cat-standards"></span></a>
        </div>
        <div class="CG2-seriesList__itemTitle">
          <div class="CG2-seriesList__itemTitleInner">
            <a href="">
              <span class="CG2-seriesList__itemTitleText">今日から使えるCSS</span>
            </a>
          </div>
        </div>
        <div class="CG2-seriesList__itemUtil">
          <ul>
            <li><a href=""><span class="CG2-icon-list"></span></a></li>
            <li>
              <button type="button" aria-pressed="true" class="js-toggle-fav-series CG2-seriesList__itemUtilButton--favAdded">
                <span aria-label="このシリーズのお気に入り解除" class="CG2-icon-star"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div style="background-image: url('//cdn.codegrid.net/2016-useful-css/main-blur.jpg')" class="CG2-seriesList__coverImage"></div>
      <div class="CG2-seriesList__articles">
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第4回</div>
            <div class="CG2-seriesList__articleTitle">CSS Custom Properties</div>
            <div class="CG2-seriesList__articleDate">2017年05月04日</div>
          </a>
        </div>
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第3回</div>
            <div class="CG2-seriesList__articleTitle">position: sticky</div>
            <div class="CG2-seriesList__articleDate">2017年04月27日</div>
          </a>
        </div>
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第2回</div>
            <div class="CG2-seriesList__articleTitle">@supportsルール</div>
            <div class="CG2-seriesList__articleDate">2017年02月16日</div>
          </a>
        </div>
      </div>
      <div class="CG2-seriesList__authors">
        <div class="CG2-seriesList__authorPicList">
          <ul>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="坂巻 翔大郎" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="矢倉 眞隆" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="山田 敬美" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="小山田 晃浩" width="40" height="40"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 著者たくさん、未読あり -->

    <div class="CG2-seriesList__item">
      <div class="CG2-seriesList__itemHeader">
        <div class="CG2-seriesList__itemCategory">
          <a href=""><span class="CG2-icon-cat-interview"></span></a>
        </div>
        <div class="CG2-seriesList__itemTitle">
          <div class="CG2-seriesList__itemTitleInner">
            <a href="">
              <span class="CG2-seriesList__itemTitleText">エンジニアに聞く、仕事の行方</span>
            </a>
          </div>
        </div>
        <div class="CG2-seriesList__itemUtil">
          <ul>
            <li><a href=""><span class="CG2-icon-list"></span></a></li>
            <li>
              <button type="button" aria-pressed="false" class="js-toggle-fav-series">
                <span aria-label="このシリーズのお気に入り解除" class="CG2-icon-star"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div style="background-image: url('//cdn.codegrid.net/future-works/main-blur.jpg')" class="CG2-seriesList__coverImage"></div>
      <div class="CG2-seriesList__articles">
        <div class="CG2-seriesList__article CG2-seriesList__article--unread">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第13回</div>
            <div class="CG2-seriesList__articleTitle">奥野 賢太郎 編</div>
            <div class="CG2-seriesList__articleDate">2017年08月24日</div>
          </a>
        </div>
        <div class="CG2-seriesList__article CG2-seriesList__article--unread">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第12回</div>
            <div class="CG2-seriesList__articleTitle">矢倉 眞隆 編</div>
            <div class="CG2-seriesList__articleDate">2017年05月04日</div>
          </a>
        </div>
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第11回</div>
            <div class="CG2-seriesList__articleTitle">森 大典 編</div>
            <div class="CG2-seriesList__articleDate">2016年07月28日</div>
          </a>
        </div>
      </div>
      <div class="CG2-seriesList__authors">
        <div class="CG2-seriesList__authorPicList">
          <ul>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="德田 和規" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="奥野 賢太郎" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="宇野 陽太" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="森 大典" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="坂巻 翔大郎" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="ピクセル グリオ" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="中村 享介" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="杉浦 有右嗣" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="矢倉 眞隆" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="中島 直博" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="大杉 充" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="小原 司" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="外村 奈津子" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="山田 敬美" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="高津戸 壮" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="丸山 陽子" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="山田 順久" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="小山田 晃浩" width="40" height="40"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- more -->

    <div class="CG2-seriesList__itemMore">
      <a href="">more</a>
    </div>

  </div>
</div>
```

## 全幅

appトップの今週号や、各号のページで利用。

`CG2-seriesList__item`に`CG2-seriesList__item--fullWidth`が追加されただけで、その他は特に変わらない。

```html
<div class="CG2-seriesList">
  <div class="CG2-seriesList__inner">

    <!-- 未購読 -->

    <div class="CG2-seriesList__item CG2-seriesList__item--fullWidth">
      <div class="CG2-seriesList__itemHeader">
        <div class="CG2-seriesList__itemCategory">
          <a href=""><span class="CG2-icon-cat-mastering"></span></a>
        </div>
        <div class="CG2-seriesList__itemTitle">
          <div class="CG2-seriesList__itemTitleInner">
            <a href="">
              <span class="CG2-seriesList__itemTitleText">Chrome DevToolsをモバイル開発で使いこなす</span>
            </a>
          </div>
        </div>
        <div class="CG2-seriesList__itemUtil">
          <ul>
            <li><a href=""><span class="CG2-icon-list"></span></a></li>
          </ul>
        </div>
      </div>
      <div style="background-image: url('//cdn.codegrid.net/2017-chrome-devtools/main-blur.jpg')" class="CG2-seriesList__coverImage"></div>
      <div class="CG2-seriesList__articles">
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleIcon">
              <div class="CG2-icon-lock"></div>
            </div>
            <div class="CG2-seriesList__articleOrder">第2回</div>
            <div class="CG2-seriesList__articleTitle">モバイルWebアプリ開発に活用</div>
            <div class="CG2-seriesList__articleDate">2017年06月01日</div>
          </a>
        </div>
      </div>
      <div class="CG2-seriesList__authors">
        <a href="">
          <div class="CG2-seriesList__author">
            <div class="CG2-seriesList__authorPic">
              <img src="http://img.pxgrid.net/80x80" alt="" width="40" height="40">
            </div>
            <div class="CG2-seriesList__authorName">矢倉 眞隆 | フロントエンド・エンジニア</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 購読済、お気に入り -->

    <div class="CG2-seriesList__item CG2-seriesList__item--fullWidth">
      <div class="CG2-seriesList__itemHeader">
        <div class="CG2-seriesList__itemCategory">
          <a href=""><span class="CG2-icon-cat-standards"></span></a>
        </div>
        <div class="CG2-seriesList__itemTitle">
          <div class="CG2-seriesList__itemTitleInner">
            <a href="">
              <span class="CG2-seriesList__itemTitleText">今日から使えるCSS</span>
            </a>
          </div>
        </div>
        <div class="CG2-seriesList__itemUtil">
          <ul>
            <li><a href=""><span class="CG2-icon-list"></span></a></li>
            <li>
              <button type="button" aria-pressed="false" class="js-toggle-fav-series CG2-seriesList__itemUtilButton--favAdded">
                <span aria-label="このシリーズのお気に入り解除" class="CG2-icon-star"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div style="background-image: url('//cdn.codegrid.net/2016-useful-css/main-blur.jpg')" class="CG2-seriesList__coverImage"></div>
      <div class="CG2-seriesList__articles">
        <div class="CG2-seriesList__article">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第2回</div>
            <div class="CG2-seriesList__articleTitle">@supportsルール</div>
            <div class="CG2-seriesList__articleDate">2017年02月16日</div>
          </a>
        </div>
      </div>
      <div class="CG2-seriesList__authors">
        <a href="">
          <div class="CG2-seriesList__author">
            <div class="CG2-seriesList__authorPic">
              <img src="http://img.pxgrid.net/80x80" alt="" width="40" height="40">
            </div>
            <div class="CG2-seriesList__authorName">坂巻 翔大郎 | フロントエンド・エンジニア</div>
          </div>
        </a>
        <a href="">
          <div class="CG2-seriesList__author">
            <div class="CG2-seriesList__authorPic">
              <img src="http://img.pxgrid.net/80x80" alt="" width="40" height="40">
            </div>
            <div class="CG2-seriesList__authorName">矢倉 眞隆 | フロントエンド・エンジニア</div>
          </div>
        </a>
      </div>
    </div>

    <!-- 著者たくさん、未読あり -->

    <div class="CG2-seriesList__item CG2-seriesList__item--fullWidth">
      <div class="CG2-seriesList__itemHeader">
        <div class="CG2-seriesList__itemCategory">
          <a href=""><span class="CG2-icon-cat-survey"></span></a>
        </div>
        <div class="CG2-seriesList__itemTitle">
          <div class="CG2-seriesList__itemTitleInner">
            <a href="">
              <span class="CG2-seriesList__itemTitleText">ピクセルグリッドの開発環境サーベイ 2017</span>
            </a>
          </div>
        </div>
        <div class="CG2-seriesList__itemUtil">
          <ul>
            <li><a href=""><span class="CG2-icon-list"></span></a></li>
            <li>
              <button type="button" aria-pressed="false" class="js-toggle-fav-series">
                <span aria-label="このシリーズのお気に入り解除" class="CG2-icon-star"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div style="background-image: url('//cdn.codegrid.net/2017-tool-survey/main-blur.jpg')" class="CG2-seriesList__coverImage"></div>
      <div class="CG2-seriesList__articles">
        <div class="CG2-seriesList__article CG2-seriesList__article--unread">
          <a href="">
            <div class="CG2-seriesList__articleOrder">第1回</div>
            <div class="CG2-seriesList__articleTitle">エディタとおすすめツール編</div>
            <div class="CG2-seriesList__articleDate">2017年03月02日</div>
          </a>
        </div>
      </div>
      <div class="CG2-seriesList__authors">
        <div class="CG2-seriesList__authorPicList">
          <ul>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="森 大典" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="杉浦 有右嗣" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="中村 享介" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="高津戸 壮" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="小山田 晃浩" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="德田 和規" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="山田 順久" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="小原 司" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="山田 敬美" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="坂巻 翔大郎" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="丸山 陽子" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="宇野 陽太" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="大杉 充" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="中島 直博" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="矢倉 眞隆" width="40" height="40"></a></li>
            <li><a href=""><img src="http://img.pxgrid.net/80x80" alt="奥野 賢太郎" width="40" height="40"></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
```
*/
.CG2-seriesList {
  margin: 0 calc( -50vw + 50% + 8px );

  // @include max-screen( 1072px ) {
  //   margin: 0 calc( -536px + 50% + 12px );
  // }

  @include max-screen( $breakpoint-middle ) {
    margin-left: -18px;
    margin-right: -18px;
  }

  @include print() {
    margin-left: 0;
    margin-right: 0;
  }
}

.CG2-seriesList__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;

  @include max-screen( $breakpoint-middle ) {
    display: block;
  }
}

.CG2-seriesList__item {
  @include blurry-parent();
  color: #fff;
  box-sizing: border-box;
  width: calc( 50% - 4px );
  padding: 30px 28px;
  margin: 2px;

  @include max-screen( $breakpoint-middle ) {
    width: auto;
    padding: 8px 8px 24px;
    margin: 0 0 2px;
  }

  &.CG2-seriesList__item--fullWidth {
    width: calc( 100% - 4px );
    
    @include max-screen( $breakpoint-middle ) {
      width: auto;
    }
  }
}

.CG2-seriesList__itemHeader {
  display: table;
  width: 100%;
  margin: -18px 0 12px;
  @include max-screen( $breakpoint-middle ) {
    margin: 14px 0 20px;
  }
  .CG2-seriesList__item--fullWidth & {
    margin: 0 0 30px;
    @include max-screen( $breakpoint-middle ) {
      margin: 14px 0 20px;
    }
  }
}

.CG2-seriesList__itemCategory {
  font-family: $fontSerif;
  font-feature-settings: "palt";
  vertical-align: middle;
  display: table-cell;
  width: 40px;

  @include max-screen( $breakpoint-middle ) {
    font-size: 0;
    vertical-align: top;
    width: 26px;
  }

  .CG2-seriesList__item--fullWidth & {
    width: 150px;

    @include max-screen( $breakpoint-middle ) {
      text-align: center;
      vertical-align: top;
      width: 26px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  [class^="CG2-icon-cat"] {
    font-size: 40px;
    line-height: 1;
    position: relative;
    top: 0;
    margin-right: 15px;

    @include max-screen( $breakpoint-middle ) {
      font-size: 26px;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: calc( 50% - 20px );
      left: calc( 50% - 20px );
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: #eee;
      transform: scale( 0 );
      transition: all 0s;
    }
  }

  a:hover [class^="CG2-icon-cat"],
  a:focus [class^="CG2-icon-cat"] {
    @include anim-scaleup();

    &::after {
      opacity: 0;
      transform: scale( 1.4 );
      transition-duration: .4s;
    }
  }
}

.CG2-seriesList__itemTitle {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.4;
  font-family: $fontSerif;
  font-feature-settings: "palt";
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  height: 2.8em;

  @include max-screen( $breakpoint-middle ) {
    font-size: 20px;
    font-weight: normal;
    height: auto;
    // padding-top: 14px;
  }

  .CG2-seriesList__item--fullWidth & {
    font-size: 30px;
    height: auto;

    @include max-screen( $breakpoint-middle ) {
      font-size: 20px;
    //   display: block;
    //   font-size: 20px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
  }

  .CG2-seriesList__itemTitleText {
    text-align: left;
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      background: #fff;
      transform: translateY( 2px ) scaleX( 0.1 );
      transition: all .6s cubic-bezier(.3, 1.4, .6, 1 );
    }
  }

  a:hover .CG2-seriesList__itemTitleText:after,
  a:focus .CG2-seriesList__itemTitleText:after {
    opacity: 1;
    transform: scaleX( 1 );
  }
}

.CG2-seriesList__itemUtil {
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  width: 40px;
  padding-left: 10px;

  @include max-screen( $breakpoint-middle ) {
    vertical-align: top;
  }

  .CG2-seriesList__item--fullWidth & {
    width: 150px;

    @include max-screen( $breakpoint-middle ) {
      width: 40px;
    }
  }

  ul {
    font-size: 0;
    list-style: none;
    display: inline-table;
    padding: 0;
  }

  li {
    text-align: center;
    display: table-cell;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 8px;
    background: rgba( 255, 255, 255, 0.2 );

    @include max-screen( $breakpoint-middle ) {
      width: 14px;
      height: 14px;
    }

    &:first-child {
      &,a {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }

    &:last-child {
      &, a {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  a,
  button {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 8px;
    margin: -8px;
    border: none;
    background: rgba( 255, 255, 255, 0 );
    transition: all .3s;

    &:hover,
    &:focus {
      text-decoration: none;
      background: rgba( 255, 255, 255, 0.2 );

      span[class^="CG2-icon"] {
        opacity: 1;
      }
    }
  }

  span[class^="CG2-icon"] {
    font-size: 18px;
    line-height: 18px;
    opacity: .5;
    position: static;
    display: block;

    @include max-screen( $breakpoint-middle ) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

button.CG2-seriesList__itemUtilButton--favAdded {
  span[class^="CG2-icon"] {
    color: #ff0;
    opacity: 1;
  }
}

.CG2-seriesList__coverImage {
  @include blurry();
  transition: transform 1s;
  will-change: opacity; // fixing Firefox causing artifacts on unhover

  .CG2-seriesList__item:hover &,
  .CG2-seriesList__item:focus & {
    transform: scale( 1.4, 1.4 );
  }

  // &.CG2-seriesList__coverImage--blurry {
  //   @include blurry--blurry();
  // }
}

.CG2-seriesList__articles {
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1 );
}

.CG2-seriesList__article {
  font-size: 16px;
  display: table;
  line-height: 1.2;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background: rgba( 255, 255, 255, 0 );

  &.CG2-seriesList__article--unread {
    font-weight: bold;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1 );
    background: rgba( 255, 255, 255, 0.2 );
  }

  a {
    @include resetLink();
    text-decoration: none;
    display: table-row;
    transition: background .5s;
    
    &:hover,
    &:focus {
      transition: background .2s;
      background: rgba( 255, 255, 255, 0.2 );
    }
  }
}

.CG2-seriesList__articleIcon {
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  width: 1px;
  padding: 0 12px 0 18px;

  .CG2-seriesList__item--fullWidth & {
    font-size: 18px;
  }

  @include max-screen( $breakpoint-middle ) {
    font-size: 14px;
    padding: 0 10px;
    
    .CG2-seriesList__item--fullWidth & {
      font-size: 14px;
    }
  }
}

.CG2-seriesList__articleOrder {
  font-size: 16px;
  vertical-align: middle;
  white-space: nowrap;
  display: table-cell;
  width: 1%;
  padding: 15px 15px 15px 0;

  &:first-child {
    padding-left: 20px;
  }

  @include max-screen( $breakpoint-middle ) {
    font-size: 14px;
    padding-right: 10px;

    &:first-child {
      padding-left: 10px;
    }
  }

  .CG2-seriesList__item--fullWidth & {
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 24px;

    @include max-screen( $breakpoint-middle ) {
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.CG2-seriesList__articleTitle {
  font-size: 16px;
  vertical-align: middle;
  display: table-cell;
  padding: 15px 0;

  @include max-screen( $breakpoint-middle ) {
    font-size: 14px;
  }
  
  .CG2-seriesList__item--fullWidth & {
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 24px;

    @include max-screen( $breakpoint-middle ) {
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.CG2-seriesList__articleDate {
  font-size: 12px;
  vertical-align: middle;
  text-align: right;
  display: table-cell;
  white-space: nowrap;
  padding: 15px 20px 15px 5px;

  .CG2-seriesList__item--fullWidth & {
    padding-top: 24px;
    padding-bottom: 24px;

    @include max-screen( $breakpoint-middle ) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  @include max-screen( $breakpoint-middle ) {
    font-size: 10px;
    padding-right: 10px;
  }
}

.CG2-seriesList__authors {
  position: relative;
  z-index: 1;

  a {
    color: inherit;
    text-decoration: none;
    display: table;
  }
}

.CG2-seriesList__author {
  @extend %author;
  position: relative;
}

a .CG2-seriesList__author:before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: rgba( 255, 255, 255, 0 );
  transition: all .5s;
}

a:hover .CG2-seriesList__author:before,
a:focus .CG2-seriesList__author:before {
  background: rgba( 255, 255, 255, 0.2 );
  transition: all .2s;
}

.CG2-seriesList__authorPic {
  @extend %authorPic;
}

.CG2-seriesList__authorName {
  @extend %authorName;

  .CG2-seriesList__item--fullWidth & {
    font-size: 16px;
  }

  @include max-screen( $breakpoint-middle ) {
    .CG2-seriesList__item--fullWidth & {
      font-size: 10px;
    }
  }
}

.CG2-seriesList__authorPicList {
  @extend %authorPicList;
}

.CG2-seriesList__itemMore {
  width: 100%;

  a {
    color: inherit;
    font-family: $fontCode;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;

    &:hover,
    &:focus { }

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -100%;
      margin-left: -60px;
      width: 100%;
      padding: 0 20px;
      transform: skewX( 20deg );
      background: #eee;
      transition: all .3s;
    }

    &:hover:before,
    &:focus:before {
      left: 0;
      margin-left: -20px;
    }
    
    &:after {
      @include icon( down );
      font-size: 20px;
      margin-left: 4px;
    }
  }
}
