// ===========================================================================
//  アイコンのユーティリティ
// ===========================================================================

$icons: (
  pxg: "\",
  top: "\",
  right: "\",
  down: "\",
  left: "\",
  hamburger: "\",
  list: "\",
  setting: "\",
  search: "\",
  star: "\",
  lock: "\",
  unlock: "\",
  question: "\",
  exclamation-circle: "\",
  exclamation-triangle: "\",
  twitter: "\",
  facebook: "\",
  gplus: "\",
  cat-elementary: "\",
  cat-mastering: "\",
  cat-standards: "\",
  cat-talk: "\",
  cat-architecture: "\",
  cat-report: "\",
  cat-design: "\",
  cat-future: "\",
  cat-work-style: "\",
  cat-survey: "\",
  cat-interview: "\",
  cat-discussion: "\",
);

@mixin icon ( $name ) {
  content: map-get( $icons, $name );
  font-family: "codegrid-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
