// ===========================================================================
//  コンポーネントやテンプレートなどで使うプレースホルダー集
// ===========================================================================

// 検索ボックス
// ===========================================================================
%search {
  box-sizing: border-box;
  width: 100%;
  background: #303030;
  border-radius: 3px;
}

%searchInner {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;

  &:before {
    @include icon('search');
    color: #777;
    font-size: 12px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 10px;
  }

  form {
    height: 100%; // for Blink
  }

  input {
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    padding: .5em 10px .5em 34px;
    background: transparent;
    transition: all .2s;

    &:hover,
    &:focus {
      background: #303030;
    }
  }
}


// 著者
// ===========================================================================
%author {
  display: table;
  margin-bottom: 1px;
}

%authorPic {
  vertical-align: middle;
  display: table-cell;
  padding-right: 5px;

  img {
    display: block;

    @include max-screen( $breakpoint-middle ) {
      width: 28px;
      height: 28px;
    }
  }
}

%authorName {
  font-size: 12px;
  vertical-align: middle;
  display: table-cell;
  padding: 5px 10px;

  @include max-screen( $breakpoint-middle ) {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

%authorPicList {
  ul {
    font-size: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0 1px 1px 0;
  }

  img {
    display: block;
    
    @include max-screen( $breakpoint-middle ) {
      width: 28px;
      height: 28px;
    }
  }
}
