
/* ==========================================================================
   Section comment block
   ========================================================================== */

/* Sub-section comment block
   ========================================================================== */

/* Basic comment */



/* ==========================================================================
   offsetting an in-page anchor to adjust for fixed header
   http://stackoverflow.com/questions/4086107/html-positionfixed-page-header-and-in-page-anchors
   ========================================================================== */
:target:before {
  content: '';
  overflow: auto;
  position: static;
  display: block;
  width: 1px;
  height: 56px; /* fixed header height*/
  margin: -56px 0 0; /* negative fixed header height */
  @include max-screen( $breakpoint-middle ) {
    height: 35px;
    margin-top: -35px;
  }
}

/* ==========================================================================
   pageHeaderPlacer
   ========================================================================== */
.CG2-pageHeaderPlacer{
  height: 56px;
  background: #000;
}
@include max-screen( $breakpoint-middle ) {
  .CG2-pageHeaderPlacer{
    height: 35px;
  }
}


/* ==========================================================================
   pageHeader
   ========================================================================== */
/*
---
name: Page Header
category:
  - Templates
tag:
  - Template
templateItem:
  - true
---

- `CG2-pageHeaderPlacer`を併用すると高さを確保することができる、高さ確保が不要なら`CG2-pageHeaderPlacer`を利用しない
- 実際に利用するときには以下のコードから`style="position:relative;"`を**取り除いて使う**

## WWW用

```html
<div class="CG2-pageHeaderPlacer">
  <header class="CG2-pageHeader" style="position:relative;">
    <div class="CG2-pageHeader__inner">
      <div class="CG2-pageHeader__logo">
        <a href="#"><img src="../../../assets2/img/CG2-pageHeader/logo.svg" alt="CodeGrid" width="125" height="24"></a>
      </div>
      <div class="CG2-pageHeader__nav">
        <ul>
          <li><a href="#">料金</a></li>
          <li><a href="#">団体購読</a></li>
          <li><a href="#">よくある質問</a></li>
          <li><a href="#">書籍</a></li>
        </ul>
      </div>
      <div class="CG2-pageHeader__buttons">
        <ul>
          <li><a class="CG2-button CG2-button--primary CG2-button--thin" href="#">購読する</a></li>
          <li><a href="#">ログイン</a></li>
        </ul>
      </div>
      <div class="CG2-pageHeader__opener" data-drawer-toggle></div>
    </div>
  </header>
</div>
```

## APP用

```html
<div class="CG2-pageHeaderPlacer">
  <header class="CG2-pageHeader" style="position:relative;">
    <div class="CG2-pageHeader__inner">
      <div class="CG2-pageHeader__logo">
        <a href="#"><img src="../../../assets2/img/CG2-pageHeader/logo.svg" alt="CodeGrid" width="125" height="24"></a>
      </div>
      <div class="CG2-pageHeader__appNav">
        <ul>
          <li><a href="#">最新記事一覧</a></li>
          <li><a href="#">お気に入り一覧</a></li>
        </ul>
      </div>
      <div class="CG2-pageHeader__search">
        <div class="CG2-pageHeader__searchInner">
          <form>
            <input type="search">
          </form>
        </div>
      </div>
      <div class="CG2-pageHeader__buttons">
        <ul>
          <li><a class="CG2-button CG2-button--primary CG2-button--thin" href="#">購読する</a></li>
          <li><a href="#">ログイン</a></li>
        </ul>
      </div>
      <div class="CG2-pageHeader__opener" data-drawer-toggle></div>
    </div>
  </header>
</div>
```


## APP用 ログイン後

```html
<div class="CG2-pageHeaderPlacer">
  <header class="CG2-pageHeader" style="position:relative;">
    <div class="CG2-pageHeader__inner">
      <div class="CG2-pageHeader__logo">
        <img src="../../../assets2/img/CG2-pageHeader/logo.svg" alt="CodeGrid" width="125" height="24">
      </div>
      <div class="CG2-pageHeader__appNav">
        <ul>
          <li><a href="#">最新記事一覧</a></li>
          <li><a href="#">お気に入り一覧</a></li>
        </ul>
      </div>
      <div class="CG2-pageHeader__search">
        <div class="CG2-pageHeader__searchInner">
          <form>
            <input type="search">
          </form>
        </div>
      </div>
      <div class="CG2-pageHeader__user">
        <div class="CG2-pageHeader__userHeader">
          <div class="CG2-pageHeader__userName">oyamada.akihiro@email.com</div>
          <div class="CG2-pageHeader__userAvatar">
            <img src="http://www.gravatar.com/avatar/3d8d92b9ff9e708e3e4c247d5ab787ba.png?s=112" alt="" width="56" height="56">
          </div>
          <div class="CG2-pageHeader__userOpener"></div>
        </div>
        <div class="CG2-pageHeader__userMenu">
          <div class="CG2-pageHeader__userMenuInner">
            <ul>
              <li><a class="CG2-button CG2-button--fullWidth CG2--alignCenter" href="#">設定</a></li>
              <li><a class="CG2-button CG2-button--fullWidth CG2--alignCenter" href="#">ログアウト</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
```

## 導線無し（フォーム途中など）

```html
<div class="CG2-pageHeaderPlacer">
  <header class="CG2-pageHeader" style="position:relative;">
    <div class="CG2-pageHeader__inner">
      <div class="CG2-pageHeader__logo">
        <img src="../../../assets2/img/CG2-pageHeader/logo.svg" alt="CodeGrid" width="125" height="24">
      </div>
    </div>
  </header>
</div>
```

*/

@keyframes wf1-pageHeader-onmounted {
  0% {
    overflow: hidden;
    height: 0;
  }
  99% {
    overflow: hidden;
    height: 0;
  }
  100% {
    overflow: visible;
    height: auto;
  }
}
@keyframes wf1-pageHeader-elastic-in {
  0% {
    height: 0;
    opacity: 0;
    transform: scale(0);
  }
  1% {
    height: auto;
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes wf1-pageHeader-elastic-out {
  0% {
    opacity: 1;
    visibility: visible;
    height: auto;
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  99% {
    visibility: visible;
    height: auto;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transform: scale(0);
  }
}


.CG2-pageHeader{
  @include clearfix();
  position: fixed;
  z-index: $z-pageHeader;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: rgba( 0, 0, 0, 0.8 );
  transform: translate3d( 0, 0, 0 );
  @include max-screen( $breakpoint-middle ) {
    height: 35px;
    padding: 0 10px;
    transition: transform .4s;
    html.js-drawer--show & {
      transform: translateX( -100% ) translateX( 50px );
    }
  }
  @include print () {
    position: relative;
    height: 0;
    border-bottom: 56px solid #191919;
  }
}
  .CG2-pageHeader__inner{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1100px;
    height: 100%;
    padding: 0 28px;
    margin: 0 auto;
    @include max-screen( $breakpoint-middle ) {
      padding: 0 28px 0 0;
    }
  }
    .CG2-pageHeader__logo{
      margin: 0 30px 0 0;
      img{
        display: block;
      }
      @include max-screen( $breakpoint-middle ) {
        img{
          width: 90px;
          height: auto;
        }
      }
    }
    .CG2-pageHeader__nav{
      text-align: center;
      margin: 0 auto;
      @include max-screen( $breakpoint-middle ) {
        display: none;
      }
      ul{
        font-size: 0;
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        &:before{
          content: '';
          display: inline-block;
          width: 0;
          height: 56px;
          vertical-align: middle;
        }
      }
      li{
        font-size: 1rem;
        vertical-align: middle;
        display: inline-block;
        padding: 0;
        margin: 0 10px;
      }
      a{
        color: #999;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin: -10px;
        &:hover{
          color: #fff;
        }
      }
      @include print () {
        display: none;
      }
    }
    .CG2-pageHeader__appNav{
      @include max-screen( $breakpoint-middle ) {
        display: none;
      }
      ul{
        font-size: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        &:before{
          content: '';
          display: inline-block;
          width: 0;
          height: 56px;
          vertical-align: middle;
          @include max-screen( $pageMaxWidth ) {
            content: none;
          }
        }
      }
      li{
        font-size: .875rem;
        vertical-align: middle;
        display: inline-block;
        padding: 0;
        margin: 0 10px;
        @include max-screen( $pageMaxWidth ) {
          font-size: .75rem;
        }
      }
      a{
        color: #999;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin: -10px;
        &:hover{
          color: #fff;
        }
      }
      @include print () {
        display: none;
      }
    }
    .CG2-pageHeader__search{
      @extend %search;
      width: 280px;
      height: 32px;
      margin: 0 0 0 auto;
      border :1px solid #777;
      background: transparent;
      @include max-screen( $breakpoint-middle ) {
        display: none;
      }
      @include print () {
        display: none;
      }
    }
      .CG2-pageHeader__searchInner{
        @extend %searchInner;
        input{
          line-height: 22px;
          height: 30px;
          padding: 4px 10px 4px 30px;
          &:hover,
          &:focus{
            background: #303030;
          }
        }
      }
    .CG2-pageHeader__buttons{
      margin: 0 0 0 30px;
      @include max-screen( $breakpoint-middle ) {
        display: none;
      }
      @include print () {
        display: none;
      }
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        &:before{
          content: '';
          display: inline-block;
          width: 0;
          height: 56px;
          vertical-align: middle;
        }
      }
      li{
        font-size: 14px;
        vertical-align: middle;
        display: inline-block;
        padding: 0;
        margin: 0 10px;
      }
      a:not(.CG2-button){
        color: #777;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin: -10px;
        &:hover{
          color: #fff;
        }
      }
    }
    .CG2-pageHeader__user{
      position: relative;
      margin: 0 0 0 30px;
      @include max-screen( $breakpoint-base ) {
        margin-left: 20px;
      }
      @include max-screen( $breakpoint-middle ) {
        display: none;
      }
    }
      .CG2-pageHeader__userHeader{
        display: table;
        table-layout: fixed;
        width: 280px;
        height: 56px;
        cursor: pointer;
      }
        .CG2-pageHeader__userName{
          color: #777;
          font-size: 14px;
          text-align: right;
          white-space: nowrap;
          vertical-align: middle;
          box-sizing: border-box;
          display: table-cell;
          padding-right: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .CG2-pageHeader__userAvatar{
          vertical-align: middle;
          box-sizing: border-box;
          display: table-cell;
          width: 56px;
          img{
            display: block;
            width: 56px;
            height: 56px;
          }
        }
        .CG2-pageHeader__userOpener{
          color: #eee;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          width: 20px;
          padding: 0 6px;
          &:after{
            @include icon( down );
            position: relative;
            transition: transform .4s cubic-bezier(.3, 2, .6, 1 );
            .CG2-pageHeader__userHeader:hover &,
            .CG2-pageHeader__userHeader:focus &{
              color: #fff;
              transform: translateY( 2px );
              transition-duration: .4s;
            }
          }
        }
        .CG2-pageHeader__userMenu{
          overflow: hidden;
          position: absolute;
          // display: none;
          width: 100%;
          height: 0;
          margin-top: 2px;
          animation-name: wf1-pageHeader-onmounted;
          animation-fill-mode: forwards;
          animation-duration: .3s;
          &.CG2-pageHeader__userMenu--show{
            overflow: visible;
            height: auto;
            .CG2-pageHeader__userMenuInner{
              visibility: visible;
              animation-name: wf1-pageHeader-elastic-in;
            }
          }
        }
          .CG2-pageHeader__userMenuInner{
            visibility: hidden;
            box-sizing: border-box;
            padding: 10px;
            border: 1px solid rgba( 0, 0, 0, 0.1 );
            border-radius: 2px;
            box-shadow: 0 3px 12px rgba( 0, 0, 0, 0.1 );
            background: #fff;
            transform-origin: 150px 0;
            animation-name: wf1-pageHeader-elastic-out;
            animation-duration: .3s;
            animation-fill-mode: forwards;
            &:before{
              content: "";
              position: absolute;
              top: -14px;
              right: 38px;
              display: block;
              border: 7px solid transparent;
              border-bottom-color: #fff;
            }
            ul{
              list-style: none;
              padding: 0;
              margin: 0;
            }
            li{
              margin: 0;
              &+li{
                margin-top: 10px;
              }
            }
          }
    .CG2-pageHeader__opener{
      @include max-screen( $breakpoint-middle ) {
        color: #fff;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 35px;
        padding: 0 10px;
        &:after{
          @include icon( 'hamburger' );
          line-height: 35px;
          display: block;
        }
      }
    }

/* ==========================================================================
   pageFooter
   ========================================================================== */
/*
---
name: Page Footer
category:
  - Templates
tag:
  - Template
templateItem:
  - true
---

```html
<footer class="CG2-pageFooter">
  <div class="CG2-pageFooter__inner">
    <div class="CG2-pageFooter__wwwNav">
      <div class="CG2-pageFooter__logo">
        <img src="http://img.pxgrid.net/128x32" alt="CodeGrid" width="128" height="32">
      </div>
      <ul>
        <li><a href="#">CodeGridについて</a></li>
        <li><a href="#">料金</a></li>
        <li><a href="#">団体購読</a></li>
        <li><a href="#">よくある質問</a></li>
        <li><a href="#">書籍</a></li>
        <li><a href="#">購読する</a></li>
      </ul>
    </div>

    <div class="CG2-pageFooter__appNav">
      <div class="CG2-pageFooter__appNavHeader">
        <div class="CG2-pageFooter__appNavHeading">
          <a href="#">アプリトップ</a>
        </div>
        <div class="CG2-pageFooter__appNavSearch">
          <div class="CG2-pageFooter__appNavSearchInner">
            <form>
              <input type="search">
            </form>
          </div>
        </div>
      </div>
      <div class="CG2-pageFooter__appNavList">
        <ul>
          <li><a href="#">最新記事一覧</a></li>
          <li><a href="#">おすすめ記事一覧</a></li>
          <li><a href="#">お気に入り登録記事一覧</a></li>
          <li><a href="#">無料公開記事一覧</a></li>
          <li><a href="#">シリーズ一覧</a></li>
          <li><a href="#">著者一覧</a></li>
        </ul>
      </div>
      <div class="CG2-pageFooter__appNavCategory">
        <ul>
          <li><a href="#"><span class="CG2-icon-cat-architecture"></span>設計</a></li>
          <li><a href="#"><span class="CG2-icon-cat-future"></span>未来・次世代</a></li>
          <li><a href="#"><span class="CG2-icon-cat-talk"></span>座談会</a></li>
          <li><a href="#"><span class="CG2-icon-cat-mastering"></span>実践</a></li>
          <li><a href="#"><span class="CG2-icon-cat-elementary"></span>入門</a></li>
          <li><a href="#"><span class="CG2-icon-cat-standards"></span>仕様解説</a></li>
          <li><a href="#"><span class="CG2-icon-cat-work-style"></span>仕事術</a></li>
          <li><a href="#"><span class="CG2-icon-cat-report"></span>レポート</a></li>
          <li><a href="#"><span class="CG2-icon-cat-design"></span>デザイン</a></li>
          <li><a href="#"><span class="CG2-icon-cat-discussion"></span>ディスカッション</a></li>
          <li><a href="#"><span class="CG2-icon-cat-interview"></span>インタビュー</a></li>
          <li><a href="#"><span class="CG2-icon-cat-survey"></span>アンケート</a></li>
        </ul>
      </div>
    </div>

    <div class="CG2-pageFooter__legalNav">
      <ul>
        <li><a href="#">公式Twitter</a></li>
        <li><a href="#">お問い合わせ</a></li>
        <li><a href="#">利用規約</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">特定商取引法に基づく表示</a></li>
      </ul>
      <div class="CG2-pageFooter__company"><a href="#">運営会社<img src="../../../assets2/img/CG2-pageFooter/pxg-logo.svg" alt="Pixel Grid" width="128" height="32"></a></div>
    </div>
  </div>
<!-- /.CG2-pageFooter --></footer>
```

## 導線無し（フォーム途中など）

```html
<footer class="CG2-pageFooter CG2-pageFooter--simple">
  <div class="CG2-pageFooter__inner">
    <div class="CG2-pageFooter__legalNav">
      <div class="CG2-pageFooter__company">運営会社<img src="../../../assets2/img/CG2-pageFooter/pxg-logo.svg" alt="Pixel Grid" width="128" height="32"></div>
    </div>
  </div>
<!-- /.CG2-pageFooter --></footer>
```

*/
.CG2-pageFooter{
  color: #777;
  font-size: 12px;
  padding: 60px 0;
  margin-top: 50px;
  background: #191919;
  @include max-screen( $breakpoint-base ) {
    padding-left: 28px;
    padding-right: 28px;
  }
  &.CG2-pageFooter--simple{
    padding: 30px 0;
  }
  @include max-screen( $breakpoint-small ) {
    padding: 30px 0;
    .CG2-container + & {
      margin-top: 0;
    }
  }
  @include print () {
    position: relative;
    z-index: 1;
    &:after{
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      border-bottom: 180px solid #191919;
    }
  }
  a{
    color: #777;
    text-decoration: none;
    display: block;
    transition: all .2s;
    &:hover{
      color: #fff;
    }
  }
}
  .CG2-pageFooter__inner{
    table-layout: fixed;
    display: table;
    width: 1016px + 28 + 28;
    margin: 0 auto;
    @include max-screen( 1100px ) {
      width: auto;
    }
    @include max-screen( $breakpoint-base ) {
      display: block;
    }
    @include max-screen( $breakpoint-small ) {
      display: block;
      width: auto;
    }
    @include print () {
      display: block;
      width: auto;
    }
  }
    .CG2-pageFooter__wwwNav{
      vertical-align: top;
      box-sizing: border-box;
      display: table-cell;
      width: 20%;
      padding: 40px 28px;
      @include max-screen( $breakpoint-base ) {
        display: table;
        width: 100%;
        padding: 0;
        margin: 0 0 20px;
      }
      @include max-screen( $breakpoint-small ) {
        display: none;
      }
      @include print () {
        display: none;
      }
    }
      .CG2-pageFooter__logo{
        margin-bottom: 32px;
        img{
          display: block;
        }
        @include max-screen( $breakpoint-base ) {
          display: table-cell;
          width: 1%;
          padding-right: 28px;
        }
        @include max-screen( $breakpoint-small ) {
          display: none;
        }
        @include print () {
          display: none;
        }
      }
    .CG2-pageFooter__appNav{
      vertical-align: top;
      box-sizing: border-box;
      display: table-cell;
      width: 60%;
      padding: 38px 58px;
      border: 1px solid #282828;
      @include max-screen( $breakpoint-base ) {
        @include clearfix();
        display: block;
        width: auto;
        padding: 20px;
        margin: 20px 0;
      }
      @include max-screen( $breakpoint-small ) {
        display: none;
      }
      @include print () {
        display: none;
      }
    }
    .CG2-pageFooter__legalNav{
      vertical-align: top;
      box-sizing: border-box;
      display: table-cell;
      width: 20%;
      padding: 90px 28px 40px;
      .CG2-pageFooter--simple &{
        display: block;
        width: auto;
        padding: 30px 28px 50px;
      }
      @include max-screen( $breakpoint-base ) {
        display: block;
        width: auto;
        padding: 0;
        margin: 20px 0;
      }
      @include max-screen( $breakpoint-base ) {
        &,
        .CG2-pageFooter--simple &{
          display: block;
          width: auto;
          padding: 0;
        }
      }
      @include print () {
        &,
        .CG2-pageFooter--simple &{
          display: block;
          width: auto;
          padding: 0;
        }
      }
    }
//---
    .CG2-pageFooter__wwwNav{
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        @include max-screen( $breakpoint-base ) {
          vertical-align: middle;
          display: table-cell;
        }
      }
      li{
        margin: 12px 0 0;
        @include max-screen( $breakpoint-base ) {
          display: inline-block;
          margin: 4px 16px 4px 0;
        }
      }
      a{
        &:before{
          @include icon( 'right' );
          margin: 0 .4em .1em 0;
        }
      }
    }
// .CG2-pageFooter__appNav
.CG2-pageFooter__appNavHeader{
  display: table;
  width: 100%;
  margin-bottom: 32px;
}
  .CG2-pageFooter__appNavHeading{
    font-size: 20px;
    line-height: 1.2;
    vertical-align: middle;
    display: table-cell;
    width: 44.99%;
    a{
      &:before{
        @include icon( 'right' );
        margin: 0 .4em .1em 0;
      }
    }
  }
  .CG2-pageFooter__appNavSearch{
    vertical-align: middle;
    display: table-cell;
    width: 54.99em;
    background: #303030;
  }
    .CG2-pageFooter__appNavSearchInner{
      position: relative;
      &:before{
        @include icon( 'search' );
        color: #777;
        font-size: 12px;
        line-height: 0;
        position: absolute;
        top: 50%;
        left: 10px;
      }
      input{
        color: #fff;
        font-size: 14px;
        box-sizing: border-box;
        display: block;
        border: none;
        width: 100%;
        height: 100%;
        padding: .4em 10px .4em 30px;
        background: #303030;
      }
    }
.CG2-pageFooter__appNavList{
  float: left;
  width: 44.99%;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    margin: 0 0 12px;
  }
  a{
    &:before{
      @include icon( 'right' );
      margin: 0 .4em .1em 0;
    }
  }
}
.CG2-pageFooter__appNavCategory{
  float: left;
  width: 54.99%;
  ul{
    column-count: 2;
    list-style: none;
    margin: 0;
    padding: 0;

  }
  li{
    margin: 0 0 12px;
  }
  a{}
  span[class^="CG2-icon-cat"]{
    font-size: 18px;
    line-height: 0;
    margin: 0 .4em 0 0;
  }
}

//---
.CG2-pageFooter__legalNav{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    @include max-screen( $breakpoint-base ) {
      text-align: center;
    }
    @include max-screen( $breakpoint-small ) {
      display: none;
    }
    @include print () {
      display: none;
    }
  }
  li{
    margin: 12px 0 0;
    @include max-screen( $breakpoint-base ) {
      display: inline-block;
      margin: 5px 10px 5px 0;
    }
  }
  a{}
}
.CG2-pageFooter__company{
  margin: 12px 0 0;
  img{
    vertical-align: middle;
    width: 64px;
    height: 16px;
    margin: -2px 0 0 5px;
  }
  .CG2-pageFooter--simple &{
    font-size: 12px;
    text-align: center;
    margin-top: 0;
    img{
      display: block;
      width: 120px;
      height: 30px;
      margin: 5px auto;
    }
  }
  @include max-screen( $breakpoint-base ) {
    text-align: center;
  }
  @include max-screen( $breakpoint-small ) {
    &,
    .CG2-pageFooter--simple &{
      font-size: 10px;
      text-align: center;
      margin-top: 0;
      a{
        color: #fff;
        display: table;
        margin: 0 auto;
      }
      img{
        display: block;
        width: 100px;
        height: 25px;
        margin: 5px auto;
      }
    }
  }
  @include print () {
    &,
    .CG2-pageFooter--simple &{
      font-size: 10px;
      text-align: center;
      margin-top: 0;
      a{
        color: #fff;
        display: table;
        margin: 0 auto;
      }
      img{
        display: block;
        width: 100px;
        height: 25px;
        margin: 5px auto;
      }
    }
  }
}


/* ==========================================================================
   CG2-drawer
   ========================================================================== */
/*
---
name: Drawer
category:
  - Templates
tag:
  - Template
templateItem:
  - true
---

- スモールスクリーン時のみ有効
- CG2-pageHeader 内のトグルボタンで表示

```html
<div class="CG2-drawer">
  <div class="CG2-drawer__panel">
    <div class="CG2-drawer__panelViewport">
      <div class="CG2-drawer__panelBody">

        <div class="CG2-drawerBody">

          <div class="CG2-drawerBody__user">
            <div class="CG2-drawerBody__userAvatar">
              <img src="http://www.gravatar.com/avatar/3d8d92b9ff9e708e3e4c247d5ab787ba.png?s=112" alt="" width="56" height="56">
            </div>
            <div class="CG2-drawerBody__userName">oyamada.akihiro@email.com</div>
          </div>

          <div class="CG2-drawerBody__nav">
            <ul>
              <li><a href="#">アプリトップ</a></li>
              <li><a href="#">最新記事一覧</a></li>
              <li><a href="#">おすすめ記事一覧</a></li>
              <li><a href="#">お気に入り登録記事一覧</a></li>
              <li><a href="#">無料記事一覧</a></li>
              <li><a href="#">シリーズ一覧</a></li>
              <li><a href="#">著者一覧</a></li>
            </ul>
          </div>
          <div class="CG2-drawerBody__userNav">
            <ul>
              <li><a class="CG2-button CG2-button--primary CG2-button--fullWidth" href="#">購読する</a></li>
              <li><a class="CG2-button CG2-button--fullWidth" href="#">ログイン</a></li>
            </ul>
          </div>
          <div class="CG2-drawerBody__separator"></div>
          <div class="CG2-drawerBody__search">
            <div class="CG2-drawerBody__searchInner">
              <form>
                <input type="search">
              </form>
            </div>
          </div>
          <div class="CG2-drawerBody__nav">
            <ul>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-elementary"></span>入門</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-practice"></span>実践</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-standards"></span>仕様解説</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-talk"></span>座談会</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-architecture"></span>設計</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-report"></span>レポート</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-future"></span>未来・次世代</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-workstyle"></span>仕事術</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-survey"></span>アンケート</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-design"></span>デザイン</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-interview"></span>インタビュー</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-cat-discussion"></span>ディカッション</a></li>
            </ul>
          </div>
          <div class="CG2-drawerBody__separator"></div>
          <div class="CG2-drawerBody__nav">
            <ul>
              <li><a href="#">CodeGridについて</a></li>
              <li><a href="#">料金</a></li>
              <li><a href="#">団体購読</a></li>
              <li><a href="#">よくある質問</a></li>
              <li><a href="#">書籍</a></li>
              <li><a href="#">購読する</a></li>
              <li class="CG2-drawerBody__navItem--icon"><a href="#"><span class="CG2-icon-twitter"></span>公式Twitter</a></li>
            </ul>
          </div>
          <div class="CG2-drawerBody__separator"></div>
          <div class="CG2-drawerBody__nav">
            <ul>
              <li class="CG2-drawerBody__navItem--plane"><a href="#">お問い合わせ</a></li>
              <li class="CG2-drawerBody__navItem--plane"><a href="#">利用規約</a></li>
              <li class="CG2-drawerBody__navItem--plane"><a href="#">プライバシーポリシー</a></li>
              <li class="CG2-drawerBody__navItem--plane"><a href="#">特定商法に基づく表示</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <div class="CG2-drawer__panelLeft" data-drawer-hide></div>
  </div>
  <div class="CG2-drawer__bg" data-drawer-close></div>
</div>
```

*/
$drawerLeft: 50px;

@include min-screen( $breakpoint-middle ) {
  html{
    padding-right: 0 !important;
  }
}

@include max-screen( $breakpoint-middle ) {
  body {
    box-sizing: content-box;
    overflow-y: scroll;
  }
  html.js-drawer--show {
    overflow: hidden;
    height: 100%;
  }
  html.js-drawer--show body {
    overflow: hidden;
    max-height: 100%;
  }
}

.CG2-drawer {
  display: none;
  @include max-screen( $breakpoint-middle ) {
    display: block;
    pointer-events: none;
    html.js-drawer--show &{
      pointer-events: auto;
    }
  }
}

.CG2-drawer__panel {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, 0 );
  transform: translate3d( ( -$drawerLeft ), 0, 0 );
  transition: transform .4s;
}
.CG2-drawer__panel, x::-ms-fill {
  transform: translateX( ( -$drawerLeft ) ); /* IE10, 11, avoid using GPU feature */
}

html:not( .js-drawer--show ) .CG2-drawer__panel {
  animation-name: zIndexOut;
  animation-duration: .4s;
  animation-iteration-count: 1;
}
html.js-drawer--show .CG2-drawer__panel {
  margin-left: 0;
  z-index: $z-pageHeader - 1;
  transform: translateX( -100% );
}
html.js-drawer--dragging,
html.js-drawer--dragging * {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
html:not( .js-drawer--dragging ) .CG2-drawer__panel {
  transition: transform .4s, margin .1s;
}
.CG2-drawer__panel:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $drawerLeft;
  background: #191919;
}
.CG2-drawer__panelViewport {
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: $drawerLeft;
  margin: 0 0 0 auto;
  -webkit-overflow-scrolling: touch;
}

.CG2-drawer__panelBody {
  box-sizing: border-box;
  min-height: 100%;
  box-shadow: -2px 2px 4px rgba( 0, 0, 0, 0 );
  transition: box-shadow .4s;
}
html.js-drawer--show .CG2-drawer__panelBody {
  box-shadow: -2px 2px 4px rgba( 0, 0, 0, 0.3 );
}

.CG2-drawer__panelLeft{
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  background: rgba( 0, 0, 0, 0 );
}


.CG2-drawer__bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba( 0, 0, 0, 0 );
    transition: background .4s;
  html:not( .js-drawer--show ) & {
    animation-name: bgOut;
    animation-duration: .4s;
    animation-iteration-count: 1;
  }
  html.js-drawer--show & {
    z-index: $z-pageHeader - 2;
    background: rgba( 0, 0, 0, 0.3 );
  }
}


@keyframes bgOut {
    0% { z-index:  $z-pageHeader - 2; }
   99% { z-index:  $z-pageHeader - 2; }
  100% { z-index: -1; }
}

@keyframes zIndexOut {
    0% { z-index:  $z-pageHeader - 1; }
   99% { z-index:  $z-pageHeader - 1; }
  100% { z-index: -1; }
}


/* ==========================================================================
   CG2-drawerBody
   ========================================================================== */
.CG2-drawerBody{
  font-size: 16px;
  padding: 40px 20px 10px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
    li{
      margin: 0;
    }
      a{}
}

.CG2-drawerBody__user{
  color: #777;
  table-layout: fixed;
  display: table;
  width: 100%;
  margin: -20px 0 20px;
}
  .CG2-drawerBody__userAvatar{
    vertical-align: middle;
    box-sizing: border-box;
    display: table-cell;
    padding-right: 12px;
    width: 44px;
    img{
      display: block;
      width: 32px;
      height: 32px;
    }
  }
  .CG2-drawerBody__userName{
    @include wordbreak();
    font-size: 12px;
    vertical-align: middle;
    display: table-cell;
  }

.CG2-drawerBody__nav{
  margin-bottom: 30px;
  ul{
    margin-left: 5px;
  }
    li{
      margin-bottom: 8px;
    }
      a{
        color: #777;
        text-decoration: none;
        position: relative;
        display: block;
        padding-left: 26px;
        &:before{
          @include icon( 'right' );
          font-size: 16px;
          line-height: 0;
          position: absolute;
          top: 50%;
          left: 3px;
        }
      }
    li.CG2-drawerBody__navItem--icon{
      a{
        &:before{
          content: none;
        }
        span[class^="CG2-icon"]{
          position: static;
          &:before{
            font-size: 20px;
            line-height: 0;
            position: absolute;
            left: -2px;
            top: 50%;
          }
        }
      }
    }
    li.CG2-drawerBody__navItem--plane{
      a{
        &:before{
          content: none;
        }
      }
    }
}
.CG2-drawerBody__userNav{
  ul{}
    li{
      margin-top: 10px;
    }
      a.CG2-button{
        font-size: 16px;
        text-align: center;
        padding-top: .6em;
        padding-bottom: .6em;
      }
}
.CG2-drawerBody__separator{
  border-top: 1px solid #5c5c5c;
  height: 0;
  margin: 30px -15px;
}

.CG2-drawerBody__search{
  @extend %search;
  margin: 20px 0;
  height: 40px;
}
.CG2-drawerBody__searchInner{
  @extend %searchInner;
  &:before{
    font-size: 20px;
  }
  input{
    height: 40px;
  }
}


/* ==========================================================================
   CG2-container
   ========================================================================== */
/*
---
name: Container
category:
  - Templates
tag:
  - Template
templateItem:
  - true
---

```html
<div class="CG2-container">
  <div class="CG2-container__inner">
    コンテンツ配置/編集 領域
  </div>
</div>

<div class="CG2-container">
  <div class="CG2-container__inner">
    コンテンツ配置/編集 領域
  </div>
</div>

<div class="CG2-container">
  <div class="CG2-container__inner">
    コンテンツ配置/編集 領域
  </div>
</div>
```

*/
.CG2-container,
.CG2-container+.CG2-container+.CG2-container,
.CG2-container+.CG2-container+.CG2-container+.CG2-container+.CG2-container,
.CG2-container+.CG2-container+.CG2-container+.CG2-container+.CG2-container+.CG2-container+.CG2-container{
  background: transparent;
}
.CG2-container+.CG2-container,
.CG2-container+.CG2-container+.CG2-container+.CG2-container,
.CG2-container+.CG2-container+.CG2-container+.CG2-container+.CG2-container+.CG2-container{
  background: #eee;
}
.CG2-container__inner{
  box-sizing: border-box;
  max-width: 1016px;
  padding: 40px 28px;
  margin: 0 auto;
  @include max-screen( $breakpoint-middle ) {
    width: auto;
    padding: 30px 20px;
  }
}
