/* ==========================================================================
   .aigis-icon
   ========================================================================== */
@font-face {
  font-family: 'aigis-icon';
  src:url('../fonts/icon.eot');
  src:url('../fonts/icon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf') format('truetype'),
    url('../fonts/icon.woff') format('woff'),
    url('../fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="aigis-icon-"], [class*=" aigis-icon-"] {
  font-family: 'aigis-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aigis-icon-caretdown:before  {content: "\e600"; }
.aigis-icon-caretup:before    {content: "\e601"; }
.aigis-icon-caretleft:before  {content: "\e602"; }
.aigis-icon-caretright:before {content: "\e603"; }
.aigis-icon-down:before        {content: "\e604"; }
.aigis-icon-left:before        {content: "\e605"; }
.aigis-icon-right:before       {content: "\e606"; }
.aigis-icon-up:before          {content: "\e607"; }
.aigis-icon-list:before        {content: "\e608"; }
.aigis-icon-link:before        {content: "\e609"; }
.aigis-icon-github:before      {content: "\e60a"; }
.aigis-icon-git:before         {content: "\e60b"; }
.aigis-icon-code:before        {content: "\e60c";}



body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   .aigis-toggle
   ========================================================================== */
.aigis-toggleNav,
.aigis-toggleCode{
  color: #556655;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  top: 6px;
  padding: 8px;
  border: 1px solid #BFCBBD;
  border-radius: 2px;
  background: rgba( 255, 255, 255, 0.75 );
  transition: background .2s;
}
.aigis-toggleNav  { left: 6px;}
.aigis-toggleCode { left: 46px;}
.aigis-toggleNav:hover,
.aigis-toggleCode:hover,
.aigis--navclose  .aigis-toggleNav,
.aigis--codeclose .aigis-toggleCode{
  background: rgba( 255, 255, 255, 1 );
}


/* ==========================================================================
   .aigis-sidemenu
   ========================================================================== */
.aigis-sidemenu {
  color: #33331a;
  position: fixed;
  z-index: 9998;
  top: 0;
  bottom: 0;
  left: -280px;
  overflow: auto;
  box-sizing: border-box;
  width: 280px;
  padding: 70px 20px 0;
  border-right: 1px solid #999;
  background-color: rgba( 230, 240, 230, 0.9 );
  transition: left .2s; }
.aigis--navclose .aigis-sidemenu {
  left: 0;
}
  .aigis-sidemenu__heading1{
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px;
  }
    .aigis-sidemenu__heading1 a {
      color: inherit;
      text-decoration: none; }
  .aigis-sidemenu__heading2 {
    color: #333;
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    padding: 6px 0 6px 10px;
    border-left: 6px solid #94A592;
    margin: 0 0 12px -20px; }
    .aigis-sidemenu__heading2 a {
      color: inherit;
      text-decoration: none; }

  .aigis-tagList ul{
    font-size: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }
    .aigis-tagList li{
      display: inline-block;
      margin: 0 5px 5px 0;
    }
      .aigis-tagList a{
        color: #62775E;
        font-size: 12px;
        display: inline-block;
        padding: 4px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
      }
/* Sub-section comment block
   ========================================================================== */
.aigis-categoryList {
  margin: 10px 0; }
  .aigis-categoryList ul{
    line-height: normal;
    padding: 0;
    margin: 0;
  }
    .aigis-categoryList li{
      margin: 0;
      padding: 0;
    }
    .aigis-categoryList a{
      color: #454545;
      white-space: nowrap;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      outline: none;
      display: block;
      padding: 8px 10px 8px 10px;
      border-radius: 0px; }
        .aigis-categoryList a:hover {
        box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
        background-color: #fff; }
        .aigis-categoryList a[data-path-level]:before {
        content: "-";
        margin-right: 10px; }
        .aigis-categoryList a[data-path-level="1"]:before {
        margin-left: 1em; }
        .aigis-categoryList a[data-path-level="2"]:before {
        margin-left: 2em; }
        .aigis-categoryList a[data-path-level="3"]:before {
        margin-left: 3em; }
        .aigis-categoryList a[data-path-level="4"]:before {
        margin-left: 4em; }


/* ==========================================================================
   .aigis-contents
   ========================================================================== */
.aigis-contents{
  max-width: 1080px;
  margin: 0 auto;
}


/* ==========================================================================
   .aigis-categoryHeading
   ========================================================================== */
.aigis-categoryHeading{
  font-size: 32px;
  font-weight: normal;
  padding: 60px 30px 0;
  margin: 0 0 20px;
}

/* Sub-section comment block
   ========================================================================== */
.aigis-moduleList{
  font-size: 0;
  margin: 10px 0;
  padding: 0 30px;
}
  .aigis-moduleList ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
    .aigis-moduleList li{
      font-size: 16px;
      display: inline-block;
      margin: 0 24px 5px 0;
    }
      .aigis-moduleList a{
        color: #62775E;
        text-decoration: none;
      }
        .aigis-moduleList a:hover{
          border-bottom: 1px solid #62775E;
        }
        .aigis-moduleList span{
          margin-right: .3em;
        }

/* ==========================================================================
   .aigis-module
   ========================================================================== */
.aigis-module{}
  .aigis-module__heading {
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.2;
    position: relative;
    margin: 30px 0 20px;
    padding: 10px 30px;
    background: #BFCBBD; }
    .aigis-module__heading a {
      color: #556655;
      font-size: 18px;
      text-decoration: none;
      position: absolute;
      top: 50%;
      left: 8px;
      display: none;
    }
    .aigis-module__heading:hover a {
      display: block;
    }
      .aigis-module__heading a span{
         line-height: 0;
      }
  .aigis-module__filepath {
    color: #ADADAD;
    font-size: 12px;
    text-align: right;
    display: block;
    padding: 0 30px;
    margin: -20px 0 20px;
    background: #EDF5EB; }
  .aigis-module__preview{
    width: 1072px;
    margin: 0 auto;
  }
@media screen and ( max-width: 1072px ) {
  .aigis-module__preview{
    width: auto;
  }
}
@media screen and (max-width: 767px) {
}

/* .aigis-tags
   ========================================================================== */
  .aigis-tags ul{
    font-size: 0;
    list-style: none;
    padding: 0;
    margin: 10px 0 5px;
  }
  .aigis-tags li{
    display: inline-block;
    color: #62775E;
    font-size: 12px;
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 5px 5px 0;
    background: #fff;
  }

/* .aigis-preview
   ========================================================================== */
.aigis-preview{
  box-sizing: border-box;
  width: 1072px;
  padding: 40px 24px;
  border: 2px solid #BFCBBD;
  margin: 20px auto;
  background: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAF0lEQVR4AWP4DwVvoWCgBGAMmMQACQAAuK72AWHjK4wAAAAASUVORK5CYII=' );
  /*background: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAF0lEQVR4AWP4DwVnoGCgBGAMmMQACQAA9CflgZrq8LsAAAAASUVORK5CYII=' );*/
}
.aigis-module.aigis-module--fullWidth .aigis-preview{
  width: auto;
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none;
  margin: 20px calc( -50vw + 50% + 8px );
}
@media screen and ( max-width: 1072px ) {
  .aigis-preview{
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    border-left: none;
    border-right: none;
  }
  .aigis-module.aigis-module--fullWidth .aigis-preview{
    margin: 20px calc( -536px + 50% + 12px );
  }
}
@media screen and (max-width: 767px) {
  .aigis-preview,
  .aigis-module.aigis-module--fullWidth .aigis-preview{
    width: auto;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
  }
  .aigis-preview{
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .aigis-module.aigis-module--fullWidth .aigis-preview{
    margin-left: 0;
    margin-right: 0;
  }
}

/* .aigis-codeblock
   ========================================================================== */
.aigis-codeblock{
  margin: 20px 0;
}
body.aigis--codeclose .aigis-codeblock{
  display: none;
}
.aigis-codeblock pre.editor{
  font-size: 14px;
  padding: 16px 20px;
  margin: 0;
  border-radius: 2px;
}
.aigis-module__preview > pre[class*="language-"] {
  line-height: inherit;
  white-space: normal;
  padding: 0;
  margin: 0;
  background: none;
}
.aigis-module__preview > pre[class*="language-"] > code[class*="language-"]{
  text-shadow: none;
}


/* ==========================================================================
   .aigis-colorPalette
   ========================================================================== */
.aigis-colorPalette {
  margin: 20px 0;
  padding: 20px 30px;
  background: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAF0lEQVR4AWP4DwVnoGCgBGAMmMQACQAA9CflgZrq8LsAAAAASUVORK5CYII=' ); }
  .aigis-colorPalette__inner{
    display: table;
    width: 100%;
    margin: 0 auto; }
    .aigis-colorPalette__row{
      display: table-row; }
    .aigis-colorPalette__color {
      display: table-cell;
      height: 40px;
      width: 50%;
      border-radius: 2px; }
    .aigis-colorPalette__label {
      font-size: 16px;
      text-shadow: 0 0 2px #fff;
      white-space: nowrap;
      vertical-align: middle;
      width: 1%;
      padding-left: 10px;
      display: table-cell; }


/* ==========================================================================
   .aigis-footer
   ========================================================================== */
.aigis-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.75;
  color: #7a7a7a;
  border-top: 1px solid #BFCBBD;
  text-align: center;
}
.aigis-footer a{
  color: #62775E;
}



/* ==========================================================================
   na
   ========================================================================== */
/*.sg-heading,
.sg-hr,
.sg-link,
.sg-img,
.sg-p,
.sg-list,
.sg-table,
.sg-blockquote{
  max-width: 1016px;
  padding: 0 28px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .sg-heading,
  .sg-hr,
  .sg-link,
  .sg-img,
  .sg-p,
  .sg-list,
  .sg-table,
  .sg-blockquote{
    padding: 0 20px;
  }
}
*/
